In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("banking.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  int64
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 21.4+ MB

In [4]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

Encoder Credit_Score

In [3]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()
df["Credit_Label"] = encode.fit_transform(df["Credit_Score"])
Credit_Labels = encode.classes_

In [7]:
print(len(Credit_Labels))
print(Credit_Labels)

3
['Good' 'Poor' 'Standard']

In [8]:
print(df["Credit_Label"])

0        0
1        0
2        0
3        0
4        0
        ..
99995    1
99996    1
99997    1
99998    2
99999    1
Name: Credit_Label, Length: 100000, dtype: int32

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  int64
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
 28  Credit_Label              100000 non-null  int32
dtypes: float64(18), int32(1), int64(3), object(7)
memory usage: 21.7+ MB

In [4]:
df.drop("Credit_Score", axis=1, inplace=True)

In [5]:
x = df.drop("Credit_Label", axis=1)
y = df["Credit_Label"]

In [12]:
x

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,4.0,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,3.0,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,3.0,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,3.0,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,3.0,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,3.0,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696

In [13]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    1
99996    1
99997    1
99998    2
99999    1
Name: Credit_Label, Length: 100000, dtype: int32

In [6]:
object_columns = x.select_dtypes("object").columns.to_list()

In [8]:
print(len(object_columns))
print(object_columns)

6
['Name', 'Occupation', 'Type_of_Loan', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour']

In [10]:
df["Name"].value_counts()

Name
Jessicad              48
Langep                48
Stevex                48
Vaughanl              40
Ronald Groverk        40
                      ..
Breidthardtj           8
Sven Egenterx          8
Antonella Ciancioc     8
Valentina Zan          8
Nicks                  8
Name: count, Length: 10128, dtype: int64

In [11]:
df["Occupation"].value_counts()

Occupation
Lawyer           7096
Engineer         6864
Architect        6824
Mechanic         6776
Scientist        6744
Accountant       6744
Developer        6720
Media_Manager    6720
Teacher          6672
Entrepreneur     6648
Doctor           6568
Journalist       6536
Manager          6432
Musician         6352
Writer           6304
Name: count, dtype: int64

In [12]:
df["Type_of_Loan"].value_counts()

Type_of_Loan
No Data                                                                                                                               11408
Not Specified                                                                                                                          1408
Credit-Builder Loan                                                                                                                    1280
Personal Loan                                                                                                                          1272
Debt Consolidation Loan                                                                                                                1264
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                  8
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                     8
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                         8
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan        8
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                   8
Name: count, Length: 6261, dtype: int64

In [13]:
df["Credit_Mix"].value_counts()

Credit_Mix
Standard    45848
Good        30384
Bad         23768
Name: count, dtype: int64

In [14]:
df["Payment_of_Min_Amount"].value_counts()

Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

In [15]:
df["Payment_Behaviour"].value_counts()

Payment_Behaviour
Low_spent_Small_value_payments      28616
High_spent_Medium_value_payments    19738
High_spent_Large_value_payments     14726
Low_spent_Medium_value_payments     14399
High_spent_Small_value_payments     11764
Low_spent_Large_value_payments      10757
Name: count, dtype: int64

In [7]:
object_oneh = ["Credit_Mix", "Payment_Behaviour", "Type_of_Loan"]

In [8]:
for _object in object_oneh:
    object_columns.remove(_object)

In [9]:
from category_encoders import OneHotEncoder
_encode = OneHotEncoder(cols=object_oneh, return_df=True)
_encode.fit(x)

MemoryError: Unable to allocate 4.66 GiB for an array with shape (6261, 100000) and data type int64

In [ ]:
x = _encode.transform(x)

In [7]:
import category_encoders as ce
encoder = ce.BaseNEncoder(cols=object_columns, return_df=True, base = 8)
encoder.fit(x)

BaseNEncoder(base=8,
             cols=['Name', 'Occupation', 'Type_of_Loan', 'Credit_Mix',
                   'Payment_of_Min_Amount', 'Payment_Behaviour'],
             mapping=[{'col': 'Name',
                       'mapping':         Name_0  Name_1  Name_2  Name_3  Name_4
 1           0       0       0       0       1
 2           0       0       0       0       2
 3           0       0       0       0       3
 4           0       0       0       0       4
 5           0       0       0       0       5
...        ...     ...     ...     ...     ...
 10126       2       3       6       1       6
 10127       2       3       6       1       7
 10128       2       3       6       2       0
-1           0       0       0       0       0
-2           0       0       0       0       0

[10130 rows x 5 columns]},
                      {'col': 'Occupation',
                       'mapping':      Occupation_0  Occupation_1...
 2                  0               0               0               0
 3                  0               0               0               0
 4                  0               0               0               0
 5                  0               0               0               0
...               ...             ...             ...             ...
 6259               1               4               1               6
 6260               1               4               1               6
 6261               1               4               1               6
-1                  0               0               0               0
-2                  0               0               0               0

       Type_of_Loan_4
 1                  1
 2                  2
 3                  3
 4                  4
 5                  5
...               ...
 6259               3
 6260               4
 6261               5
-1                  0
-2                  0

[6263 rows x 5 columns]},
                      {'col': 'Credit_Mix',
                       'mapping':     Credit_Mix_0
 1             1
 2             2
 3             3
-1             0
-2             0},
                      {'col': 'Payment_of_Min_Amount',
                       'mapping':     Payment_of_Min_Amount_0
 1                        1
 2                        2
 3                        3
-1                        0
-2                        0},
                      {'col': 'Payment_Behaviour',
                       'mapping':     Payment_Behaviour_0
 1                    1
 2                    2
 3                    3
 4                    4
 5                    5
 6                    6
-1                    0
-2                    0}])

In [8]:
x = encoder.transform(x)

In [ ]:
x

,ID,Customer_ID,Month,Name_0,Name_1,Name_2,Name_3,Name_4,Age,SSN,...,Num_Credit_Inquiries,Credit_Mix_0,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount_0,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour_0,Monthly_Balance
0,5634,3392,1,0,0,0,0,1,23.0,821000265.0,...,4.0,1,809.98,26.822620,265.0,1,49.574949,21.465380,1,312.494089
1,5635,3392,2,0,0,0,0,1,23.0,821000265.0,...,4.0,1,809.98,31.944960,266.0,1,49.574949,21.465380,2,284.629162
2,5636,3392,3,0,0,0,0,1,23.0,821000265.0,...,4.0,1,809.98,28.609352,267.0,1,49.574949,21.465380,3,331.209863
3,5637,3392,4,0,0,0,0,1,23.0,821000265.0,...,4.0,1,809.98,31.377862,268.0,1,49.574949,21.465380,4,223.451310
4,5638,3392,5,0,0,0,0,1,23.0,821000265.0,...,4.0,1,809.98,24.797347,269.0,1,49.574949,21.465380,5,341.489231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,1,0,1,2,8,25.0,78735990.0,...,3.0,1,502.38,34.663572,378.0,1,35.104023,24.028477,6,479.866228
99996,155626,37932,5,1,0,1,2,8,25.0,78735990.0,...,3.0,1,502.38,40.565631,379.0,1,35.104023,24.028477,5,496.651610
99997,155627,37932,6,1,0,1,2,8,25.0,78735990.0,...,3.0,1,502.38,41.255522,380.0,1,35.104023,24.028477,6,516.809083
99998,155628,37932,7,1,0,1,2,8,25.0,78735990.0,...,3.0,1,502.38,33.638208,381.0,1,35.104023,24.028477,2,319.164979
99999,155629,37932,8,1,0,1,2,8,25.0,78735990.0,...,3.0,1,502.38,34.192463,382.0,1,35.104023,24.028477,5,393.673696

Standardized Data

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x)
x = sc.transform(x)

In [ ]:
x

array([[-1.73199308, -1.57530852, -1.52752523, ..., -0.8623109 ,
        -1.80533189, -0.39773279],
       [-1.73196998, -1.57530852, -1.09108945, ..., -0.8623109 ,
        -1.15589688, -0.53591622],
       [-1.73194689, -1.57530852, -0.65465367, ..., -0.8623109 ,
        -0.50646188, -0.30492041],
       ...,
       [ 1.73194689,  0.83325946,  0.65465367, ..., -0.79660181,
         1.44184312,  0.61547456],
       [ 1.73196998,  0.83325946,  1.09108945, ..., -0.79660181,
        -1.15589688, -0.36465154],
       [ 1.73199308,  0.83325946,  1.52752523, ..., -0.79660181,
         0.79240812,  0.00484057]])

In [19]:
x.shape, y.shape

((100000, 35), (100000,))

In [ ]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=20)
# x_pca = pca.fit_transform(x)

In [ ]:
# x_pca.shape, y.shape

((100000, 20), (100000,))

Spliting Data

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
# x_test, x_val, y_test, y_val = train_test_split(x_val_tes, y_val_test, test_size=0.5, random_state=42)

Model

In [11]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
model.fit(x_train, y_train)

RandomForestClassifier()

Đánh giá Model trên toàn bộ tập test

In [12]:
_score = model.score(x_test, y_test)
print(_score)

0.84375

In [48]:
import random as rd
m = rd.randint(0, x_test.shape[0])
X_new = x_test[m]
Y_new = y_test.iloc[m]
X_new = np.expand_dims(X_new, axis=0)
Y_predict = model.predict(X_new)
CreditScore_label_digital = int(Y_predict[0])
print("Giá trị dự đoán: ", CreditScore_label_digital)
print("Giá Trị thực tế: ", Y_new)
print("Credit_Score: ", Credit_Labels[CreditScore_label_digital])

Giá trị dự đoán:  0
Giá Trị thực tế:  0
Credit_Score:  Good